table{
	border-collapse: collapse;
	
}



body{
	background-color:#c48c58;
}

#LogoPhoto{
	height:25%;
	width:20%;
	display:block;
	margin:0 auto;
	
}
h2{
	right:0;
	left:0;
	text-align:center;
}
h1{
	display:block;
	border:5%;
	text-align:center;
	padding:  0.25%;
}


li{
	display:inline;
}

li:hover{
	background-color: black;
}

#Navigation {

	text-align:center;
	margin-bottom:10px;
	padding:50px,20px,50px,20px;
	background-color:#F;
	list-style-type:none;
}

#Jackie {
	max-height:200;
	max-width:200;
	border-radius:50%;
	float:left;

}

#aboutheader{
	
	text-align:center;
	height:10%;
	width:10%;

}

#aboutgrandma{
	
	margin:auto;
	padding:auto;
}



#aboutsection {
	font-family: 'Dancing Script', cursive;
	font-size:30px;
	display:block;
	border: 5px solid black;
	margin:auto;
	padding:auto;
	padding-left:10px;
	padding-right:10px;
	padding-bottom:10px;
	text-align:center;
    max-width: 50%;
}



#logmein{
	font-size:30px;
	display:block;
	border: 5px solid black;
	margin:auto;
	padding:auto;
	padding-left:10px;
	padding-right:10px;
	padding-bottom:10px;
	text-align:center;
    max-width: 50%;
}



#bottomfooter {
	float:left;
	font-family: 'Dancing Script', cursive;
	font-size:20px;
	line-height:1.5;
	width:50%;
	text-align:center;
	position:fixed;
	
}