table{
	border-collapse: collapse;
	
}

body{
	background-color:#c48c58;
}

#LogoPhoto{
	height:25%;
	width:20%;
	display:block;
	margin:0 auto;
	
}
h2{
	right:0;
	left:0;
	text-align:center;
}
h1{
	display:block;
	border:5%;
	text-align:center;
	padding:  0.25%;
}


li{
	display:inline;
}

li:hover{
	background-color: black;
}
 
li:responsive{
	background-color: brown;
}

 
 
#Navigation {

	text-align:center;
	margin-bottom:10px;
	padding:50px,20px,50px,20px;
	background-color:#F;
	list-style-type:none;
}

#aboutJackieHeader{
	text-align:center;
}

#logininputs{
	position:absolute;
	top:50%;
	left:50%;
	float:center;
}

#Jackie {
	max-height:200;
	max-width:200;
	border-radius:50%;
	float:left;

}

#aboutheader{
	
	text-align:center;
	height:10%;
	width:10%;

}

#aboutgrandma{
	
	margin:auto;
	padding:auto;
}



#aboutsection {
	font-family: 'Dancing Script', cursive;
	font-size:30px;
	display:block;
	border: 5px solid black;
	margin:auto;
	padding:auto;
	padding-left:10px;
	padding-right:10px;
	padding-bottom:10px;
	text-align:center;
    max-width: 50%;
}



#logmein{
	font-size:30px;
	display:block;
	border: 5px solid black;
	margin:auto;
	padding:auto;
	padding-left:10px;
	padding-right:10px;
	padding-bottom:10px;
	text-align:center;
    max-width: 50%;
}

h2{
	text-align:center;
}

#footer{
position: absolute;
margin:20px;

bottom: 0;
width: 100%;
height: 60px;
}